<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Latin</title>
    <style>
      #fmain {
          max-width: 500px;
          margin: auto;
          }
      @media only screen and (max-width: 600px) {
          body {
              max-width: 1000px;
              margin: auto
          }
      }
    </style>
  </head>
  <body>
    <center>
      <form id="fmain" method="get" action="/api/">
        Sentence <br><br>
        <input type="text" name="words" placeholder="pater noster qui est in celis"></input>
        <input type="submit" value="Go!">
      </form>
    </center>
  </body>
</html>
